<google-map center="map.center" zoom="map.zoom" draggable="true"
  options="{disableDefaultUI: true, scrollwheel: false}">
  <markers models="schools" coords="'self'"></markers>
</google-map>
<div class="introduction">
  <div class="row">
    <h1>
      hackEDU is a nonprofit organization that helps high school students
      start and lead programming clubs at their schools.
    </h1>
  </div>
</div>
<div class="call-to-action">
  <div class="row">
    <h1>Get Involved</h1>
    <a href="/apply" class="button outline-outward">
      Start a Hack Club
    </a>
  </div>
</div>
<div class="rackspace">
  <div class="row">
    <p>
    hackEDU is generously hosted by
    <a href="https://www.rackspace.com/">Rackspace</a>

    <span class="right">
      <a href="https://github.com/hackedu">GitHub</a>
    </span>
    </p>
  </div>
</div>
